<%= render partial: 'shared/heading', :locals => {:h1 => 'Tools', :p => 'Plauggable components for the tools portals' } %>

<div class="row main-content">

  <%= paginate @tools %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="textalign-center">Icon</th>
        <th>Name</th>
        <th>Title</th>
        <th colspan="3" class="textalign-right">
          <%= link_to new_tool_path, class: 'btn btn-success' do %>
              <%= fa_icon 'check-square-o', class: 'fa-lg' %> New Tool
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @tools.each do |tool| %>
        <tr>
          <td class="textalign-center"><span class="palette-<%= tool.color %>"><%= fa_icon tool.icon %></span></td>
          <td><%= tool.name %></td>
          <td><%= tool.title %></td>
          <td><%= link_to 'Show', tool %></td>
          <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
          <td class="textalign-right">
            <%= link_to tool, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
                <%= fa_icon 'trash-o', class: 'fa-lg' %> Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @tools %>

</div>
