<%= render partial: 'shared/heading', :locals => {:h1 => 'Tools', :p => 'Pluggable components for the tools portals' } %>

<div class="row main-content">

  <%= will_paginate @tools, renderer: BootstrapPagination::Rails %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th class="textalign-center">Icon</th>
        <th>Name</th>
        <th>Title</th>
        <th>Users</th>
        <th colspan="3" class="textalign-center"><%= link_to 'New Tool', new_tool_path %></th>
      </tr>
    </thead>

    <tbody>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= tool.id %></td>
          <td class="textalign-center"><span class="palette-<%= tool.color %>"><%= fa_icon tool.icon %></span></td>
          <td><%= tool.name %></td>
          <td><%= tool.title %></td>
          <td><%= tool.users.count %></td>
          <td><%= link_to 'Show', tool %></td>
          <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
          <td>
            <%= link_to 'Delete', tool, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @tools, renderer: BootstrapPagination::Rails %><br/>

</div>
