<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @tool.icon %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tool.color %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tool.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tool.text %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
