<p id="notice"><%= notice %></p>

<h1>Show Tool</h1>

<div class="row">
    <div class="col-sm-3">
      <%= link_to portal_path(@tool.name), class: 'no-underline' do %>
          <div class="card">
            <span class="card-img-top palette-<%= @tool.color %>"><%= fa_icon @tool.icon, class: 'fa-5x' %></span>
            <div class="card-block">
              <h3 class="card-title"><%= @tool.title %></h3>
              <p class="card-text"><%= @tool.text %></p>
            </div>
          </div>
      <% end %>
    </div>
</div>

<hr/>

<div class="main-content"><%= sanitize(@tool.content) %></div>

<hr/>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
