<%= simple_form_for(@theme) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-inputs">
    <div class="form-group"><label class="control-label" for="theme_logo">Logo</label><br/>
      <%= image_tag @theme.logo.url, id: 'theme_logo' %>
    </div>
  </div>

  <div class="form-inputs choose-file">
    <%= f.file_field :logo, accept: 'image/*' %>
  </div>

  <%= f.error :base %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
