<%= render partial: 'shared/heading', :locals => {:h1 => 'Themes', :p => 'Skinnable house style to be applied across the whole application' } %>

<div class="row main-content">

  <%= will_paginate @themes, renderer: BootstrapPagination::Rails %>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Users</th>
      <th>Logo</th>
      <th colspan="3" class="textalign-center"><%= link_to 'New Theme', new_theme_path %></th>
    </tr>
    </thead>

    <tbody>
    <% @themes.each do |theme| %>
        <tr>
          <td><%= theme.id %></td>
          <td><%= theme.name %></td>
          <td><%= theme.description %></td>
          <td><%= theme.users.count %></td>
          <td><%= image_tag theme.logo.thumb.url %></td>
          <td><%= link_to 'Show', theme %></td>
          <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
          <td><%= link_to 'Delete', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @themes, renderer: BootstrapPagination::Rails %>

</div>
