<%= render partial: 'shared/heading', :locals => {:h1 => 'Themes', :p => 'Skinnable house stule to be applied across the whole application' } %>

<div class="row main-content">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3" class="textalign-right">
        <%= link_to new_theme_path, class: 'btn btn-success' do %>
            <%= fa_icon 'check-square-o', class: 'fa-lg' %> New Theme
        <% end %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @themes.each do |theme| %>
        <tr>
          <td><%= theme.name %></td>
          <td><%= link_to 'Show', theme %></td>
          <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
          <td class="textalign-right">
            <%= link_to theme, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
                <%= fa_icon 'trash-o', class: 'fa-lg' %> Delete
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
