<%= render partial: 'shared/heading', :locals => {:h1 => 'Users', :p => 'List of user accounts for admins and regular folks' } %>

<div class="row main-content">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Admin</th>
        <th colspan="3" class="textalign-right">
          <%= link_to new_user_path, class: 'btn btn-success' do %>
              <%= fa_icon 'check-square-o', class: 'fa-lg' %> New User
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %> <%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.company %></td>
          <td><%= user.admin? %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td class="textalign-right">
            <% unless user.id == current_user.id || user.username == 'kiffin' %>
              <%= link_to user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
                  <%= fa_icon 'trash-o', class: 'fa-lg' %> Delete
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
