<p id="notice"><%= notice %></p>

<h1>Show User</h1>

<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Property</th><th>Value</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>Id</td><td><%= @user.id %></td>
    </tr>

    <tr>
      <td>Email</td><td><%= @user.email %></td>
    </tr>

    <tr>
      <td>First name</td><td><%= @user.firstname %></td>
    </tr>

    <tr>
      <td>Last name</td><td><%= @user.lastname %></td>
    </tr>

    <tr>
      <td>Username</td><td><%= @user.username %></td>
    </tr>

    <tr>
      <td>Company</td><td><%= @user.company %></td>
    </tr>

    <tr>
      <td>Admin</td><td><%= @user.admin %></td>
    </tr>

    <tr>
      <td>Photo</td><td><%= image_tag @user.photo.thumb.url %>
    </tr>

    <tr>
      <td>Theme</td><td><%= @user.theme ? @user.theme.name : 'None' %>
    </tr>

    <tr>
      <td>Toolset</td>
      <td>
        <% if @user.tools.count > 0 %>
          <%= @user.tools.map {|t| t.name }.join(', ') %>
        <% else %>
          None
        <% end %>
      </td>
    </tr>
  </tbody>

</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
