<div class="main-heading">
  <h1><%= fa_icon 'quote-left' %> Participation Tools <%= fa_icon 'quote-right'%></h1>
  <p class="lead">Open source participation tools for all your daily needs.</p>
</div>

<div class="main-content">

  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-sm-3">
        <%= link_to portal_path(tool.name), class: 'no-underline' do %>
            <div class="card">
              <span class="card-img-top palette-<%= tool.color %>"><%= fa_icon tool.icon, class: 'fa-5x' %></span>
              <div class="card-block">
                <h3 class="card-title"><%= tool.title %></h3>
                <p class="card-text"><%= tool.text %></p>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
