<div class="main-heading">
  <h1><%= fa_icon 'quote-left' %> Login <%= fa_icon 'quote-right'%></h1>
  <p class="lead">You will first need to enter your email and password.</p>
</div>

<div class="main-content">

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
