<%= render partial: 'shared/heading', :locals => {:h1 => 'Globals', :p => 'Application-wide configuration parameters for tweaking purposes'} %>

<div class="row main-content">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3" class="textalign-right"><%= link_to 'New Global', new_global_path, class: 'btn btn-success' %></th>
    </tr>
    </thead>

    <tbody>
    <% @globals.each do |global| %>
        <tr>
          <td><%= global.key %></td>
          <td><%= global.value %></td>
          <td><%= link_to 'Show', global %></td>
          <td><%= link_to 'Edit', edit_global_path(global) %></td>
          <td>
            <%= link_to global, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' do %>
                <%= fa_icon 'trash' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
