<%= render partial: 'shared/heading', :locals => {:h1 => 'Globals', :p => 'Application-wide configuration parameters for tweaking purposes'} %>

<div class="row main-content">

  <%= will_paginate @globals, renderer: BootstrapPagination::Rails %>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Key</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3" class="textalign-right">
        <%= link_to new_global_path, class: 'btn btn-success' do %>
            <%= fa_icon 'check-square-o', class: 'fa-lg' %> New Global
        <% end %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @globals.each do |global| %>
        <tr>
          <td><%= global.id %></td>
          <td><%= global.key %></td>
          <td><%= global.value %></td>
          <td><%= global.description %></td>
          <td><%= link_to 'Show', global %></td>
          <td><%= link_to 'Edit', edit_global_path(global) %></td>
          <td class="textalign-right">
            <%= link_to global, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
                <%= fa_icon 'trash-o', class: 'fa-lg' %> Delete
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @globals, renderer: BootstrapPagination::Rails %>

</div>
