<!DOCTYPE html>
<html>
  <head>
    <title>Toolbox-App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <div class="main-wrapper">
        <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
      <% end %>
        <%= yield %>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
